.GameListContainer {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 0 10px;
  .gameContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 20px;
  }
  .gameListTitle {
    display: flex;
    font-size: 20px;
    padding: 10px;
    align-items: center;
    border: #b0eaff solid;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 10px #00baf6, -0 -0 10px #00baf6;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.8);
    .roomNumber {
      margin-left: auto;
    }
  }
  .gameList {
    margin-top: 5px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    padding: 10px;
    border: white solid;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px white;
    height: 400px;
    border-radius: 0 0 20px 20px;

    ul {
      list-style: none;
      padding-left: 0;
      li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        height: 50px;
        border-bottom: 1px dotted;
      }
    }
  }
}
