.MemberListContainer {
  display: flex;
  flex-direction: column;

  padding: 10px 10px 0 10px;
  .memberContainer {
    display: flex;
    flex-direction: column;
    margin: 10px 0 20px 0;
    border: none;
    border-radius: 20px;
  }
  .memberCount {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 20px 20px 0 0;
    height: 35px;
    background-color: #974dcb;
    .roomNumber {
      margin-left: auto;
      margin-right: 5px;
    }
    .copy {
      width: 50px;
      background-color: blanchedalmond;
      &:hover {
        background: yellow;
      }
    }
  }
  .memberList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    height: 410px;
    border-radius: 0 0 20px 20px;

    ul {
      margin-top: 0;
      list-style: none;
      padding-left: 0;
      li {
        display: flex;
        align-items: center;
        list-style: none;
        height: 50px;
        border-bottom: 1px dotted;
      }
    }
  }
}
