@font-face {
  font-family: "Jua-Regular";
  src: url("./font/Jua-Regular.ttf");
}

$Lavender: #e2b9ff;

Body {
  background: $Lavender;
  margin: 0;
  font-family: "Jua-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
