@font-face {
  font-family: "Jua-Regular";
  src: url("./font/Jua-Regular.ttf");
}

$Lavender: black;

Body {
  background: $Lavender;
  overflow: hidden;
  margin: 0;
  font-family: "Jua-Regular";
  background-image: url("../image/backgroundIMG.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 5px #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}
