<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='/login.js' defer></script>
    <meta name="google-signin-client_id" content="767102190591-s1p0cmc7826l5hurj931ebir07fgcj30.apps.googleusercontent.com">
    <!-- 인증과 관련된 복잡한 처리를 대신 해주는 코드 -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
      Kakao.init('8c39f64473dda25690f07a15627924de');
      console.log(Kakao.isInitialized())

      function kakaoLogin(){
                Kakao.Auth.login({
                  
                    success: function(authObj){
                        Kakao.Auth.setAccessToken(authObj.access_token)
                        getinfo()
                        console.log(Kakao.Auth.getAccessToken())
                    },
                    fail: function(err){
                        console.log(err)
                    }
                })
            }
            function getinfo(){
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function(res){
                        console.log(res)
                        var nickname = res.kakao_account.profil_nickname
                        var email = res.kakao_account.email
                    },
                    fail: function(error){
                        alert('ERROR', JSON.stringify(error))
                    }
                })
            }

            function kakaoLogout(){
                if(!Kakao.Auth.getAccessToken()){
                    alert('Not logged in')
                    return
                }
                var token = Kakao.Auth.getAccessToken()
                Kakao.Auth.logout(function(){
                    alert('logout: ' + token)
                })
            }
        </script>            

</head>
<body>
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <input id="id" type="text" placeholder="아이디"/>
            <input id="password" type="password" placeholder="비밀번호"/>
            <button id="login-button">login</button>
            <p><a href="google">Google Login</a></p>
            <p><a href="javascript:kakaoLogin()">Kakao Login</a></p>
          </form>
        </div>
      </div>
</body>
</html>