.input {
  font-size: 10px;
  margin-top: 5px;
  &Box {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
  }

  &Label {
    display: block;
  }

  &Container {
    height: 80px;
  }
}

.inputHint {
  font-size: 10px;
  margin-top: 5px;
  &Red {
    color: red;
  }

  &Black {
    color: black;
  }
}
