input {
  background-color: rgba(black, 0.7);
  color: white;
  outline: none;
  border: none;
  box-shadow: 0 4px 2px -1px white;
}

.input {
  font-size: 10px;
  margin-top: 5px;
  &Box {
    width: 300px;
    height: 30px;
    padding-left: 10px;
  }

  &Label {
    display: block;
  }

  &Container {
    height: 80px;
  }
}

.inputHint {
  font-size: 10px;
  margin-top: 5px;
  &Red {
    color: red;
  }

  &Black {
    color: black;
  }
}
