@keyframes name {
  0%,
  100% {
    text-shadow: 0 0 10px #fa1c16, 0 0 2px #fa1c16, 0 0 5px #fa1c16,
      0 0 5px #fa1c16, 0 0 2px #fed128, 4px 4px 2px #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 10px #800e0b, 0 0 2px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #806914;
  }
}
@font-face {
  font-family: "Monoton-Regular";
  src: url("../../styles/font/Monoton-Regular.ttf");
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  .logoImg {
    width: 320px;
  }
  .name {
    position: absolute;
    font-family: "Monoton-Regular";
    color: #fb4264;
    font-size: 45px;
    line-height: 45px;
    text-shadow: 0 0 3vw #f40a35;
    animation: name 1s ease infinite;
    -moz-animation: name 1s ease infinite;
    -webkit-animation: name 1s ease infinite;
  }
}
