@font-face {
  font-family: "Monoton-Regular";
  src: url("../styles/font/Monoton-Regular.ttf");
}
@keyframes name {
  0%,
  100% {
    text-shadow: 0 0 10px #fa1c16, 0 0 2px #fa1c16, 0 0 5px #fa1c16,
      0 0 5px #fa1c16, 0 0 2px #fed128, 4px 4px 2px #806914;
    color: #fed128;
  }
  50% {
    text-shadow: 0 0 10px #800e0b, 0 0 2px #800e0b, 0 0 5px #800e0b,
      0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
    color: #806914;
  }
}

.mainPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;

  .submitBtnContainer {
    display: flex;
    justify-content: flex-end;
  }
  .inputContainer {
    margin-top: 10px;
  }

  .submitBtn {
    margin-right: 10px;
  }

  .social {
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }
  .name {
    margin-bottom: 50px;
    font-family: "Monoton-Regular";
    color: #fb4264;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 0 0 3vw #f40a35;
    animation: name 1s ease infinite;
    -moz-animation: name 1s ease infinite;
    -webkit-animation: name 1s ease infinite;
  }
}
