@mixin btnStyle {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background: #974dcb;
  &:hover {
    background: #6937a1;
  }
}

.MyInfo {
  // display: flex;
  margin-top: 100px;
  background: white;
  font-family: "Jua-Regular";
  // border-radius: 25px;

  // flex-direction: column;
  
  // align-items: left;
  
  width: 450px;

  .MyInfoHeader {
    // justify-content: center;
    // float: left;

    .Top {
      height: 60px;

      .GoBackButton {
        margin: 10px;
        float: left;
        @include btnStyle()
      }
  
      .MyInfoTitle {
        // float: left;
        display: flex;
        height: 60px;
        justify-content: center;
        align-items: center;

        font-size: 30px;
      }
    }
    
    .MyInfoHeaderDisplay {
      display: flex;
      background-color: yellow;
      height: 100px;
      align-items: center;
      justify-content: end;

      .LogoutButton {
        margin: 10px;
        
        @include btnStyle()
      }
    }
  }

  .MyInfoTabs {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;

    width: 80%;
    height: auto;
    min-height: 400px;
    background: #053742;
    margin: 3.5rem auto 1.5rem;
    padding: 2rem 1rem;
    color: #E8F0F2;
    border-radius: 2rem;
    @media (max-width: 769px) {
      padding: 2rem 0;
    }

    //Tab 고르는 상단 바
    .TabNav {
      width: 80%;
      margin: 0 auto 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #39A2DB;
      border-radius: 2rem;
      @media (max-width: 768px) {
        width: 90%;
      }

      li {
        width: 33%;
      padding: 1rem;
      list-style: none;
      text-align: center;
      cursor: pointer;
      transition: all 0.7s;
      border-bottom-left-radius: 2rem;
      border-top-left-radius: 2rem;

        &:nth-child(3) {
          border-radius: 0;
          border-bottom-right-radius: 2rem;
          border-top-right-radius: 2rem;
        }

        &:hover {
          background: rgba(50, 224, 196, 0.15);
        }

        .active {
          background: #39A2DB;
        }
      }

    }
    
    // 각 tab 컴포넌트 내부의 p태그 꾸미는 css
    .FirstTab p,
    .SecondTab p,
    .ThirdTab p {
    font-size: 2rem;
    text-align: center;
    }
      

  }
    
}






