.registerPage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-direction: column;

  .regiBtnContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .regiBtn {
    display: block;
  }
}
