.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  .roomPageContainer {
    width: 400px;
    .memberListContainer {
      width: "360px";
      height: "540px";
    }
  }
  .buttonContainer {
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    align-items: center;

    .masterName {
      margin-left: auto;
    }
  }
}
