.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .roomPageContainer {
    width: 400px;
  }
  .buttonContainer {
    width: 340px;
    margin-top: 10px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .masterName {
      margin-left: auto;
    }
    .label {
      display: block;
    }
  }
}
