.hotBombPotato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 360px; */
}

.bombgame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvasBG {
  /* background-color: #38b5db; */
  background-color: rgba(#636363, 0.3);
  border-radius: 20px;
}

.joystick {
  margin: 20px;
  /* background-color: black; */
  width: 100px;
}
