.gameContainer {
  display: flex;
  flex-direction: column;
  .playContainer {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    height: 250px;
    background-color: white;
    .suggestAndTime {
      display: flex;
      .gameTime {
        margin: 10px auto 10px 10px;
      }
      .suggest {
        margin: 10px 10px 10px auto;
      }
    }
    .gameRecord {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 20px;
      .userWord {
        margin-left: 15px;
        font-size: 40px;
      }
      .nickname {
        margin-left: 15px;
      }
      .passMsg {
        margin-left: 15px;
      }
    }
  }
  .progressBar {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: red;
    height: 15px;
    border-radius: 10px;
  }
  .inputContainer {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      padding-left: 10px;
      height: 35px;
      width: 80%;
      margin-left: 5;
      margin-right: 10px;
      border: none;
      border-radius: 10px;
    }
  }

  .playerA {
    display: flex;
    margin-top: 5px;
    flex-wrap: wrap;
    justify-content: space-between;
    div {
      display: flex;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      margin: 5px auto;
      background-color: white;
      width: 80px;
      height: 50px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  background-color: rgba(0, 0, 0, 0.6);
  animation: modal-bg-show 0.3s;
}

.section {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;

  .main {
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
  }
}

.nullPlace {
  height: 250px;
}

@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
