.PencilSpin {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.backBtn {
  display: flex;
  margin: 20px 20px 20px 20px;
}

#canvasPS {
  background-color: #134959;
  border-radius: 20px;
}
